<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand logo"><img src="../../assets/icons/icons8-angularjs (1).svg" alt="logo"></a>
    </div>

    <!-- Links -->
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/todos">ToDos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
    </div>

  </div>
</nav>