p {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.bg-info {
  border-radius: 5px;
}

img {
  opacity: 0;
  width: 100%;
  height: 100%;
  animation: img-intro forwards;
  animation-duration: 4s;
}

@keyframes img-intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
